@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Solid:wght@300&display=swap');

#loginSignup{
    position: relative;
    text-align: center;
    border: none;
    background-color: inherit;
    margin-top: 0.3rem;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: white;
    letter-spacing: 1.6px;
    font-size: 1.4rem;
    font-family: Londrina Solid;
}

#blurb{
    position: relative;
    text-align: center;
    border: none;
    background-color: inherit;
    margin-top: 0.3rem;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    color: white;
    letter-spacing: 1.6px;
    font-size: 1.4rem;
    font-family: Londrina Solid;
}

#loginSignup:hover {
    color: rgb(248,170,48);
    text-decoration: none;
}

#loginSignup a:hover {
    color: rgb(248,170,48);
    transition: 0.5s;
    text-decoration: none;
}