@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Londrina+Solid:wght@300&display=swap');


.thought-detail-container {
    font-family: Nunito;
}

.thought-detail-header {
    text-align: center;
    padding: 50px;
    font-family: Londrina Solid;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px black;
}

.thought-detail-content {
    background-color :#f5f5f5;
    width: 505px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
    border-radius: 4px;
}

.thought-detail-contents {
    padding: 10px;
}

.thought-detail-entry-info {
    padding: 20px;
    list-style: none;
    text-indent: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.thought-info {
    font-size: 13px;
}

.list {
    color: #555;
    font-size: 15px;
    padding: 0 !important;
    width: 500px;
  
}

.list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 20px;
    padding: 10px;
  }


.lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 1150px;
    margin-left: 30px;
  }

.thought-detail-delete-button {
    justify-content: center;
    display: flex;
    padding-top: 40px;
}
.delete-button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color :#ffffff;
	border-radius: 6px;
	border: 1px solid #4d4b4b;
	cursor: pointer;
	color: black;
	font-size: 11.5px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow:0px 1px 0px #ffffff;

  }

.delete-button:hover {
    background-color:#f6f6f6;
}

.delete-button:active {
    position:relative;
	top:1px;
}