@import url('https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap');
.thought-container {
    font-family: Nunito;
}
.thought-header {
    text-align: center;
    padding: 50px;
    font-family: Londrina Solid;
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px black;
}
.thought-content {
    background-color :#f5f5f5;
    width: 550px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
    border-radius: 4px;
}
.thought-entry {
    padding: 25px;
}
.thought-entry-title {
    padding: 10px;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-text-stroke: 0.5px black;
}
textarea {
    outline: none;
    resize: none;
    border: none;
    text-align: justify;
    width: 450px
}
select .thought-info {
    margin: 0 0 0 20px;
}
.list {
    color: #555;
    font-size: 15px;
    padding: 0 !important;
    width: 500px;
}
.list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 20px;
    padding: 10px;
    font-size: 15px;
  }
textarea {
    outline: none;
    resize: none;
    border: none;
    text-align: justify;
    width: 450px;
    font-family: Nunito;
    text-indent: 2px;
}
.lines {
    border-left: 1px solid #FFAA9F;
    border-right: 1px solid #FFAA9F;
    width: 5px;
    float: left;
    height: 1165px;
    margin-left: 30px;
  }
.thought-save-button {
    justify-content: center;
    display: flex;
    padding-top: 40px;
}
.save-button {
    box-shadow: inset 0px 1px 0px 0px #FFFFFF;
    background-color :#ffffff;
    border-radius: 6px;
    border: 1px solid #4D4B4B;
    cursor: pointer;
    color: black;
    font-size: 11.5px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow:0px 1px 0px #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
}
.save-button:hover {
    background-color: #F6F6F6;
}
.save-button:active {
    position: relative;
    top: 1px;
}

